layout: hosting.twig
title: 日本東京 SSD 虛擬主機方案
meta:
    desc: '天空之城不惜成本，提供東京 KDDI 機房之虛擬主機服務，並搭配全 SSD 超強 IO 效率，讓你的網站速度比傳統主機快10倍。東京機房之虛擬主機連線速度雖然不若台灣主機來得快，但依舊比美國主機快很多，一般美西主機的 ping 值約 200~300ms， 東京主機只有 50ms，無論是網站開啟速度還是 FTP 反應速度皆有上乘水準。'
og:
    image: https://cloud.githubusercontent.com/assets/1639206/6314475/7e726b24-ba1b-11e4-9b89-7a96863594ed.jpg
---
<style>
    .plans td {
        text-align: center;
    }
</style>

<div class="plan-description">
{% markdown %}
## 速度超快的東京機房

天空之城不惜成本，提供東京 KDDI 機房之虛擬主機服務，並搭配全 SSD 超強 IO 效率，讓你的網站速度比傳統主機快10倍。

東京機房之虛擬主機連線速度雖然不若台灣主機來得快，但依舊比美國主機快很多，一般美西主機的 ping 值約 200~300ms，
東京主機只有 50ms，無論是網站開啟速度還是 FTP 反應速度皆有上乘水準。

本站即是放置在東京機房，您也可以 ping 此網址立即測速: `speed-test.muse.skycastle.in`

## 誰採用天空之城東京虛擬主機？

[AnimApp 動畫社群](http://animapp.tw/) / [飛鳥新樂園](http://asika.tw) / [InspireGate](http://inspire.twgg.org)

## 獨家提供東京免費主機空間

天空之城是國內唯一提供速度飛快的東京免費主機的廠商，不像許多國內免費主機採用國外無限制經銷方案，經常不穩定或連不上。

我們提供的免費空間雖然不大，但嚴格確保了每個帳戶的使用量，且1GB空間絕對足夠許多單一網站的需求。您不必擔心自己的網站會因為眾多免費帳戶過度使用而受到影響。

## 試營運期間全面半價

為了提供良好的主機服務，天空之城非常謹慎的進行主機設置與調整。在這段期間，我們提供半價優惠，歡迎大家搶鮮嘗試，並回饋我們您所遇到的任何問題。
我們將會在確保所有服務的穩定度達到內部的嚴格要求水準之後，才回復原價方案。
{% endmarkdown %}

    <div class="uk-alert uk-alert-warning">
        由於日前 Paypal 宣布不再支援台灣地區的交易，本公司將先暫停新主機的購買功能，以避免額外的問題。原有主機用戶不受影響，可以繼續使用。
        若有不便敬請見諒。
    </div>
</div>

<h2>主機方案與規格</h2>

<table class="plans cols4">
    <thead>
    <tr>
        <th class="grey r5tl border_right description" style="width:30%;"></th>
        <th class="grey border_right prices"><h3><i class="uk-icon-flag"></i> JPFREE</h3></th>
        <th class="grey border_right prices"><h3><i class="uk-icon-thumbs-up"></i> JP250</h3></th>
        <th class="grey border_right prices"><h3><i class="uk-icon-thumbs-up"></i> JP450</h3></th>
        <th class="grey r5tr prices"><h3><i class="uk-icon-star"></i> JP650</h3></th>
    </tr>
    <tr>
        <th class="blue border_blue shadow uk-text-right">原價</th>
        <th class="blue border_tb_blue">免費</th>
        <th class="blue highlight">
            <s>$2,500 / 年</s>
        </th>
        <th class="blue border_tb_blue">
            <s>$4,500 / 年</s>
        </th>
        <th class="blue border_tb_blue">
            <s>$8,500 / 年</s>
        </th>
    </tr>
    <tr>
        <th class="blue border_blue shadow uk-text-right">試營運期間</th>
        <th class="blue border_tb_blue">免費</th>
        <th class="blue highlight">
            1,250 / 年
        </th>
        <th class="blue border_tb_blue">
            2,250 / 年
        </th>
        <th class="blue border_tb_blue">
            4,250 / 年
        </th>
    </tr>
    </thead>
    <tbody>
    <tr class="odd">
        <td class="uk-text-right">硬碟空間 (全 SSD 高速硬碟)</td>
        <td>1 GB</td>
        <td>10 GB</td>
        <td>15 GB</td>
        <td>20 GB</td>
    </tr>
    <tr class="even">
        <td class="uk-text-right">流量</td>
        <td>30 GB</td>
        <td>250 GB</td>
        <td>450 GB</td>
        <td>650 GB</td>
    </tr>
    <tr class="odd">
        <td class="uk-text-right">設定費</td>
        <td>$0</td>
        <td>$0</td>
        <td>$0</td>
        <td>$0</td>
    </tr>
    <tr class="odd">
        <td class="uk-text-right">付費後即刻開通</td>
        <td>
            {#<a href="{{ uri.base }}manager/cart.php?a=add&pid=1" class="uk-button uk-button-primary">按此註冊</a>#}
        </td>
        <td>
            {#<a href="{{ uri.base }}manager/cart.php?a=add&pid=4" class="uk-button uk-button-primary">按此註冊</a>#}
        </td>
        <td>
            {#<a href="{{ uri.base }}manager/cart.php?a=add&pid=6" class="uk-button uk-button-primary">按此註冊</a>#}
        </td>
        <td>
            {#<a href="{{ uri.base }}manager/cart.php?a=add&pid=7" class="uk-button uk-button-primary">按此註冊</a>#}
        </td>
    </tr>
    <tr>
        <th class="grey r5tl border_right description" style="width:30%;">基本規格</th>
        <th class="grey border_right prices"><i class="uk-icon-flag"></i> JPFREE</th>
        <th class="grey border_right prices"><i class="uk-icon-thumbs-up"></i> JP250</th>
        <th class="grey border_right prices"><i class="uk-icon-thumbs-up"></i> JP450</th>
        <th class="grey r5tr prices"><i class="uk-icon-star"></i> JP650</th>
    </tr>
    <tr>
        <td class="uk-text-right">MySQL 資料庫</td>
        <td>3</td>
        <td>10</td>
        <td>30</td>
        <td>50</td>
    </tr>
    <tr>
        <td class="uk-text-right">子網域</td>
        <td>3</td>
        <td>20</td>
        <td>35</td>
        <td>50</td>
    </tr>
    <tr>
        <td class="uk-text-right">附加網域 (Addon Domain)</td>
        <td><i class="uk-icon-close"></i></td>
        <td>10</td>
        <td>15</td>
        <td>30</td>
    </tr>
    <tr>
        <td class="uk-text-right">FTP 帳戶</td>
        <td>1</td>
        <td>3</td>
        <td>5</td>
        <td>10</td>
    </tr>
    <tr class="odd">
        <td class="uk-text-right">免費網域</td>
        <td><i class="uk-icon-check"></i></td>
        <td><i class="uk-icon-check"></i></td>
        <td><i class="uk-icon-check"></i></td>
        <td><i class="uk-icon-check"></i></td>
    </tr>
    <tr>
        <th class="grey r5tl border_right description" style="width:30%;">Email 服務</th>
        <th class="grey border_right prices"><i class="uk-icon-flag"></i> JPFREE</th>
        <th class="grey border_right prices"><i class="uk-icon-thumbs-up"></i> JP250</th>
        <th class="grey border_right prices"><i class="uk-icon-thumbs-up"></i> JP450</th>
        <th class="grey r5tr prices"><i class="uk-icon-star"></i> JP650</th>
    </tr>
    <tr>
        <td class="uk-text-right">Email 帳戶</td>
        <td>1</td>
        <td>100</td>
        <td>200</td>
        <td>300</td>
    </tr>
    <tr>
        <td class="uk-text-right">Email 群組</td>
        <td>0</td>
        <td>10</td>
        <td>20</td>
        <td>30</td>
    </tr>
    <tr>
        <td class="uk-text-right">每小時發信限制</td>
        <td>75</td>
        <td>150</td>
        <td>250</td>
        <td>350</td>
    </tr>
    <tr>
        <th class="grey r5tl border_right description" style="width:30%;">其它</th>
        <th class="grey border_right prices"><i class="uk-icon-flag"></i> JPFREE</th>
        <th class="grey border_right prices"><i class="uk-icon-thumbs-up"></i> JP250</th>
        <th class="grey border_right prices"><i class="uk-icon-thumbs-up"></i> JP450</th>
        <th class="grey r5tr prices"><i class="uk-icon-star"></i> JP650</th>
    </tr>
    <tr class="odd">
        <td class="uk-text-right"> PHP</td>
        <td>5.5</td>
        <td>5.5</td>
        <td>5.5</td>
        <td>5.5</td>
    </tr>
    <tr class="odd">
        <td class="uk-text-right"> Apache</td>
        <td>2.4</td>
        <td>2.4</td>
        <td>2.4</td>
        <td>2.4</td>
    </tr>
    <tr class="even">
        <td class="uk-text-right"> phpMyAdmin 資料庫管理程式</td>
        <td><i class="uk-icon-check"></i></td>
        <td><i class="uk-icon-check"></i></td>
        <td><i class="uk-icon-check"></i></td>
        <td><i class="uk-icon-check"></i></td>
    </tr>
    <tr class="odd">
        <td class="uk-text-right"> SSH (命令列控制)</td>
        <td><i class="uk-icon-close"></i></td>
        <td><i class="uk-icon-close"></i></td>
        <td><i class="uk-icon-check"></i></td>
        <td><i class="uk-icon-check"></i></td>
    </tr>

    <tr class="odd">
        <td class="uk-text-right"></td>
        <td>
            {#<a href="{{ uri.base }}manager/cart.php?a=add&pid=1" class="uk-button uk-button-primary">按此註冊</a>#}
        </td>
        <td>
            {#<a href="{{ uri.base }}manager/cart.php?a=add&pid=4" class="uk-button uk-button-primary">按此註冊</a>#}
        </td>
        <td>
            {#<a href="{{ uri.base }}manager/cart.php?a=add&pid=6" class="uk-button uk-button-primary">按此註冊</a>#}
        </td>
        <td>
            {#<a href="{{ uri.base }}manager/cart.php?a=add&pid=7" class="uk-button uk-button-primary">按此註冊</a>#}
        </td>
    </tr>
</table>

<div class="plan-description">
    <br />
    <br />
{% markdown %}
## 額外服務

主機的額外服務，如增添固定 IP，硬碟與流量加購等等，將會在我們規劃完成後逐步推出，敬請期待。
{% endmarkdown %}
</div>