home: true
meta:
    desc: '天空之城虛擬主機由一群長年經營網站開發與設計的團隊成立，我們的目的是要在台灣提供穩定、高效且價格合理的主機服務。'
og:
    image: https://cloud.githubusercontent.com/assets/1639206/6314475/7e726b24-ba1b-11e4-9b89-7a96863594ed.jpg
---
{% extends '_global/html.twig' %}

{% block banner %}
    <div class="banner-title">
        <h1>體驗流暢的快感</h1>
        <h2>天空之城日本東京虛擬主機服務</h2>
    </div>
{% endblock %}

{% block body %}
    <section id="features" class="main-block">

        <div class="uk-container uk-container-center">

            <div class="uk-alert uk-alert-warning">
                <p>
                    各位天空之城的使用者請注意，天空之城的 JPFREE，與過期後的 JP250 至 650 等方案將於 2016/05/15 結束服務，並停止申請新帳號，我們將保留資料到 5/30，請大家盡快進行資料轉移。
                </p>
                <p>
                    若網站無法連線，可開啟客服聯絡單，我們將開放此帳號 24 小時時間備份與遷移。
                </p>
            </div>

            <h1 class="block-title">特色</h1>

            {# ROW 1 #}
            <div class="uk-grid" data-uk-grid-match>
                <div class="uk-width-medium-1-3 feature-block">
                    <img class="uk-border-rounded" src="{{ uri.media }}images/features/lightweight.jpg" alt="" />
                    <h2>優雅而簡單</h2>
                    <p>
                        使用天空之城虛擬主機非常方便，您只要註冊一個帳號，立即就能開通您的虛擬主機。如果您沒有自備網域，我們也提供您 *.skycastle.in
                        的子網域讓您能夠快速開始一個新網站。
                    </p>
                </div>

                <div class="uk-width-medium-1-3 feature-block">
                    <img class="uk-border-rounded" src="{{ uri.media }}images/features/powerful.jpg" alt="" />
                    <h2>功能強大</h2>
                    <p>
                        天空之城虛擬主機的流量與硬碟空間都在一定水準之上，並採用東京 KDDI 機房提供流暢的訪問速度。
                        我們也提供 <a href="{{ uri.base }}hosting/jp-host.html">免費虛擬主機</a> 方案，讓您立刻啟動自己的個人網站。
                    </p>
                </div>

                <div class="uk-width-medium-1-3 feature-block">
                    <img class="uk-border-rounded" src="{{ uri.media }}images/features/convention.jpg" alt="" />
                    <h2>無廣告干擾</h2>
                    <p>
                        天空之城不會在免費方案中強制插入頁尾廣告，讓您盡興的製作自己的網站。我們也支援各類 CMS 如 Joomla, WordPress
                        ，安裝任何應用皆不受限制。
                    </p>
                </div>
            </div>

            {# ROW 2 #}
            {#<div class="uk-grid" data-uk-grid-match>#}
                {#<div class="uk-width-medium-1-3 feature-block">#}
                    {#<img class="uk-border-rounded" src="{{ uri.media }}images/features/decoupled.jpg" alt="" />#}
                    {#<h2>Fully Decoupled</h2>#}
                    {#<p>#}
                        {#Windwalker packages are very independent. We are trying to ensure every package does not depend#}
                        {#on too many other packages. You can easily override Windwalker's behavior without worrying about dependencies.#}
                    {#</p>#}
                {#</div>#}

                {#<div class="uk-width-medium-1-3 feature-block">#}
                    {#<img class="uk-border-rounded" src="{{ uri.media }}images/features/extendable.jpg" alt="" />#}
                    {#<h2>Extendable</h2>#}
                    {#<p>#}
                        {#The Windwalker package system (like Symfony bundles) helps us create complex applications for the enterprise.#}
                        {#You can also create your package as an extension to let other developers install it.#}
                    {#</p>#}
                {#</div>#}

                {#<div class="uk-width-medium-1-3 feature-block">#}
                    {#<img class="uk-border-rounded" src="{{ uri.media }}images/features/hhvm.jpg" alt="" />#}
                    {#<h2>HHVM Ready</h2>#}
                    {#<p>#}
                        {#After hard work, Windwalker supports HHVM server and passes all tests.#}
                        {#You can run Windwalker in HHVM server and start your programming.#}
                    {#</p>#}
                {#</div>#}
            {#</div>#}
        </div>

        {#<p class="uk-text-center">#}
            {#<a style="margin-top: 30px;" class="download-button uk-button uk-button-large uk-button-primary"#}
                    {#href="{{ uri.base }}about/features.html">#}
                {#See All Features#}
            {#</a>#}
        {#</p>#}
    </section>

    <section id="start" class="main-block">
        <div class="uk-container uk-container-center">
            <div class="uk-grid" data-uk-grid-match>
                <div class="uk-width-medium-1-1 article-content">
                    <h1 class="page-title">開始使用天空之城</h1>
                    <p class="uk-text-center">
                        <a style="margin-top: 50px; width: 400px" class="download-button uk-button uk-button-hero uk-button-primary"
                                href="{{ uri.base }}hosting/jp-host.html">
                            立即註冊東京 SSD 主機方案
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="powered" class="main-block">
        <div class="uk-container uk-container-center">
            <div class="uk-grid" data-uk-grid-match>
                <div class="uk-width-medium-1-1">
                    <h1 class="page-title">支援的系統</h1>
                    <p class="uk-text-center">
                        <a target="_blank" href="http://joomla.org">
                            <img style="height: 60px !important;" src="{{ uri.media }}images/logo/joomla.png" alt="Joomla" />
                        </a>
                        <a target="_blank" href="http://drupal.org">
                            <img style="height: 60px !important;" src="{{ uri.media }}images/logo/drupal.jpg" alt="Drupal" />
                        </a>
                        <a target="_blank" href="http://wordpress.org/">
                            <img style="height: 60px !important;" src="{{ uri.media }}images/logo/wordpress.jpg" alt="WordPress" />
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock body %}
