<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="{{ uri.media }}images/favicon.ico" />

    <title>{% block title %}SkyCastle 天空之城免費虛擬主機{% endblock %}</title>

    <!-- Uikit core CSS -->
    <link href="//cdnjs.cloudflare.com/ajax/libs/uikit/2.15.0/css/uikit.min.css" rel="stylesheet">
    {#<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/rainbow.min.css"/>#}

    <!-- Custom styles for this template -->
    <style>
        @import url(http://fonts.googleapis.com/css?family=Oswald:300,400,300,700);
        @import url(http://fonts.googleapis.com/css?family=Arvo:400,700);
        @import url(http://fonts.googleapis.com/css?family=Roboto:300,400,500);
        @import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,500);
    </style>
    <link href="{{ uri.media }}css/main.css" rel="stylesheet">

    <meta name="description" content="{{ config.meta.desc }}">
    <meta name="generator" content="The Time Machine">

{% if (config.og.image) %}
    <meta property="og:image" content="{{ config.og.image }}">
{% endif %}
    <meta property="og:title" content="{{ block('title') }}">
    <meta property="og:site_name" content="Windwalker Framework">
{% if (config.meta.desc) %}
    <meta property="og:description" content="{{ config.meta.desc }}">
{% endif %}

    {% block stylesheet %}{% endblock %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ uri.media }}js/jquery.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/uikit/2.15.0/js/uikit.min.js"></script>
    {#<script src="{{ uri.media }}js/highlight.pack.js"></script>#}
    {#<script>#}
        {#$(document).ready(function() {#}

            {#$('.article-content pre code').each(function(i, block) {#}
                {#hljs.highlightBlock(block);#}
            {#});#}
        {#});#}
    {#</script>#}

    {% block script %}{% endblock %}
</head>
<body class="{{ config.home ? 'home' : '' }}">
<nav id="header" class="uk-navbar uk-navbar-attached">
    <div class="uk-container uk-container-center">

        <a id="big-logo" class="uk-navbar-brand uk-hidden-small" href="{{ uri.base }}">
            <img src="{{ uri.media }}images/logo/skycastle-logo.png" alt="SkyCastle 天空之城" />
        </a>

        <a href="#" class="uk-navbar-toggle uk-visible-small" data-uk-toggle="{target:'#mainmenu', cls: 'uk-hidden-small'}"></a>

        <a id="small-logo" class="uk-navbar-brand uk-navbar-center uk-visible-small" href="{{ uri.base }}">
            <img src="{{ uri.media }}images/logo/skycastle-logo.png" alt="SkyCastle 天空之城" />
        </a>

        <ul id="mainmenu" class="uk-navbar-nav uk-float-right uk-hidden-small">
            <li class="{{ path[0] == 'about.twig' ? 'uk-active' : '' }}">
                <a href="{{ uri.base }}about.html">
                    <span class="menu-item-title">關於我們</span>
                </a>
            </li>

            <li class="{{ path[0] == 'plan.twig' ? 'uk-active' : '' }}">
                <a href="{{ uri.base }}plan.html">
                    <span class="menu-item-title">主機規格</span>
                </a>
            </li>

            <li class="{{ path[0] == 'order.twig' ? 'uk-active' : '' }}">
                <a href="{{ uri.base }}order.html">
                    <span class="menu-item-title">註冊</span>
                </a>
            </li>

            <li class="{{ path[0] == 'contact.twig' ? 'uk-active' : '' }}">
                <a href="{{ uri.base }}contact.html">
                    <span class="menu-item-title">聯絡我們</span>
                </a>
            </li>

            <li class="">
                <a href="http://cpanel.skycastle.in" target="_blank">
                    <span class="menu-item-title">登入</span>
                </a>
            </li>
        </ul>

    </div>
</nav>

<section id="banner">
    <div class="banner-inner">
        {% block banner %}
        {% endblock %}
    </div>
</section>

<div id="main-body">
    {% block body %}
        <section id="home" class="main-block">
            <div class="uk-container uk-container-center">
                <div class="uk-grid" data-uk-grid-match>
                    <div class="uk-width-medium-1-1">
                        {{ content|raw }}
                    </div>
                </div>
            </div>
        </section>
    {% endblock body %}
</div>

<footer id="footer">
    <div class="uk-container uk-container-center uk-text-center">

        <div class="footer-logo">
            <a href="#" data-uk-smooth-scroll>
                {#<img src="{{ uri.media }}images/logo/windwalker-logo.png" width="150" alt="Footer LOGO">#}
                <img width="300" src="{{ uri.media }}images/logo/skycastle-logo.png" alt="SkyCastle 天空之城" />
            </a>
        </div>

        {#<p class="uk-text-center social-buttons">#}
            {#<a target="_blank" class="uk-icon-button uk-icon-facebook" href="javascript: void(0);"></a>#}

            {#<a target="_blank" class="uk-icon-button uk-icon-github" href="https://github.com/ventoviro/windwalker"></a>#}

            {#<a class="uk-icon-button uk-icon-envelope-o" href="mailto:asika32764@gmail.com"></a>#}
        {#</p>#}

        <p>
            Copyright &copy; {{ "now"|date('Y') }} SkyCastle. All Rights Reserved.
        </p>
        <p class="back">
            <a href="#" data-uk-smooth-scroll><span class="uk-icon-chevron-up"></span> Back to Top</a>
        </p>
    </div>
</footer>

</body>
</html>
